<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.main.css') }}" type="text/css">-->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" >
    {% block title %}

    {% endblock %}
</head>
<body>
    
    <nav class="navbar navbar-light bg-light"> 
        <span class="navbar-brand mb-0 h1">To Do App</span>
    </nav>
    
    <div class="container">
    {% block body %}{% endblock %}
    </div>
    

 <!--<script src="{{ url_for('static', filename='js/bootstrap.main.js') }}"></script>-->
    <script src="{{ url_for('static', filename='js/jquery-3.5.1.slim.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/popper.min.js') }}" ></script>
    <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" ></script>
</body>
</html>